In [1]:
import numpy as np
import pandas as pd
from datasets import load_dataset

/Users/beesamprajveenkumar/miniconda3/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:

dataset = load_dataset("roneneldan/TinyStories")

Downloading readme: 100%|██████████| 1.02k/1.02k [00:00<00:00, 6.16MB/s]
Repo card metadata block was not found. Setting CardData to empty.
Downloading data: 100%|██████████| 249M/249M [00:23<00:00, 10.5MB/s]
Downloading data: 100%|██████████| 248M/248M [00:22<00:00, 11.0MB/s]
Downloading data: 100%|██████████| 246M/246M [00:22<00:00, 11.2MB/s]
Downloading data: 100%|██████████| 248M/248M [00:25<00:00, 9.68MB/s]
Downloading data: 100%|██████████| 9.99M/9.99M [00:00<00:00, 11.7MB/s]
Generating train split: 2119719 examples [00:02, 1007979.36 examples/s]
Generating validation split: 21990 examples [00:00, 942602.84 examples/s]

In [3]:
dataset

DatasetDict({
    train: Dataset({
        features: ['text'],
        num_rows: 2119719
    })
    validation: Dataset({
        features: ['text'],
        num_rows: 21990
    })
})

In [4]:
train_data = dataset['train']
validation_data = dataset['validation']

In [6]:
train_data.shape

(2119719, 1)

In [7]:
train_df = train_data.to_pandas()
validation_df = validation_data.to_pandas()

In [8]:
train_df.head()

                                                text
0  One day, a little girl named Lily found a need...
1  Once upon a time, there was a little car named...
2  One day, a little fish named Fin was swimming ...
3  Once upon a time, in a land full of trees, the...
4  Once upon a time, there was a little girl name...